@use "sass:color";
@use "../../../styles/typography";
@use "../../../styles/variables/colors";
@use "../../../styles/size-fields.scss";


@mixin styled-input-field($size) {
  // tipografia dos campos de textos
  @include typography.typography($size);

  // tamanho dos campos de texto
  @include size-fields.input-size($size);

  // estilizacoes adicionais que nem todo campo precisa
  border: 1px solid colors.$dark-gray;
  background-color: colors.$white;
  color: colors.$dark-gray;

  &:hover,
  &:focus, 
  &:focus-visible {
    border-color: colors.hover-darken-color(colors.$primary);
  }
}

.input-small {
  @include styled-input-field(small);
}

.input-medium {
  @include styled-input-field(medium);
}

.input-large {
  @include styled-input-field(large);
}