@use "sass:color";
@use "../../../styles/typography";
@use "../../../styles/variables/colors";
@use "../../../styles/size-fields.scss";

@mixin style-button($backgrounColor, $textColor) {
    color: $textColor;
    background-color: $backgrounColor;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: 0.28s;

    @media(max-width: 414px) {
        width: 100%;
    }

    &:hover {
        background-color: colors.hover-darken-color($backgrounColor);
    }

    &:focus {
        background-color: colors.hover-lighten-color($backgrounColor);
    }
}

@mixin typography-button($size) {
    @include typography.typography($size);
    @include size-fields.input-size($size);
}

.button-small {
    @include typography-button(small);
}

.button-medium {
    @include typography-button(medium);
}

.button-large {
    @include typography-button(large);
}

.filled-base-button {
    @include style-button(colors.$primary, colors.$white);
}

.outlined-base-button {
    @include style-button(colors.$white, colors.$primary);
}