@use "sass:color";

// $black: #1a1a1a;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #f8f8f8;
$white: #ffffff;

$primary: #337ae4;
// $secondary: #e46f33;


$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$info: #17a2b8;

@function hover-darken-color($color, $amount: 10%) {
    @return color.scale($color, $lightness: -$amount);
}

@function hover-lighten-color($color, $amount: 10%) {
    @return color.scale($color, $lightness: $amount);
}