$size-height-small-inputs: 32px;

$size-padding-small-inputs: 7px;
$size-padding-base-inputs: 10px;


$size-height-base-inputs: 40px;
$size-border-radius-base-inputs: 5px;

$size-height-large-inputs: 48px;
